body{
    background-color: burlywood;
}
.container{
   margin-top: 2%;
}

.loginForm{
    width: 50%;
    margin-left: 20%;
    background-color: beige;
    padding-bottom: 20px;
    margin-top: 10%;
}
button{
    width: 100%;
}
.error{
    background-color: red;
}