.titlePag{
    color: black;
    text-align: center;
    margin-top: 15%;
    font-size: 7rem;
}


.nav-link{
    text-align: center;
    margin: 10px;
}

.nav-link:hover{
    background-color: blue;
}